@media screen {
	#printToolBar{
		position: fixed;
		top: 0;
		left: 0;
		z-index: 100;
		height: 40mm;
		width: 100%;
		box-shadow: 3px 4px 5px 0px #dadada;
		border-radius: 5px;
		background: white;
		text-align: center;
	}
	#toolBarPlaceholder{
		padding-top: 3mm;
		margin-bottom: 0mm;
		margin-left: 0mm;
		height: 40mm;
		width: 100%;
	}
	
	header{
		display: none;
	}
	footer{
		display: none;
	}
}
@media print {
	@page {
		margin: 0;
	}
	#printToolBar{
		display: none;
	}
	.title{
		display: none;
	}
	header{
		display: block;
	}
	footer{
		display: block;
	}
}

.printBtn{
	float: left;
	margin-left: 20%;
	margin-top: 7mm;
	width: 38mm;
	height: 25mm;
	border: none;
	background: #1a7bb9;
	color: white;
	font-size: 30px;
	border-radius: 5px;
	font-weight: bold;
	box-shadow: 0px 0px 15px 2px #acc8da;
}
#pageSetting, #pageMarginSetting, #pageHFSetting, #pageCountSetting{
	float: left;
	margin-top: 7mm;
	margin-left: 10mm;
	text-align: left;
	line-height: 32px;
	font-size: 16px;
}
#pageSetting{
	margin-left: 13mm;
}
#pageMarginSetting{
	margin-top: 3mm;
}
#pageHFSetting{
	margin-top: 3mm;
}
.spiner{
	width: 0.5mm;
	height: 30mm;
	margin-top: 5mm;
	background-color: #d8d8d8;
	float: left;
	margin-left: 10mm;
	border-radius: 5px;
}
.spiner.short{
	height: 20mm;
	margin-top: 10mm;
	background-color: #f0f0f0;
}
.spinerPortrait{
	width: 100%;
	height: 0.2mm;
	margin: 3px 0px;
	background-color: #f0f0f0;
}
.tipMsg{
	font-size: 13px;
	color: #ccc;
}

.inpt{
	margin-left: 5px;
	padding: 3px;
	border-radius: 3px;
	border: 1px solid #9fdee6;
}
.radio{
	margin-right: -2px;
	margin-left: 8px;
}
.pageCntInpt{
	width: 60px;
	height: 6mm;
	padding: 3px 10px;
	font-size: 20px;
	line-height: 30px;
	border-radius: 3px;
	border: 1px solid #9fdee6;
	margin-right: 5px;
}
.settingTitle{
	background-color: #ccedff;
	padding: 5px;
	border-radius: 3px;
}
p {
	box-decoration-break: clone;
	page-break-inside: avoid;
}

img {
	max-width: 100% !important;
	page-break-inside: avoid;
}

table{
	/* border: none !important;
	border-spacing: 0px !important;
	border-collapse: collapse !important; */
	
	/* border-right: 1px solid #000000;
	border-bottom: 1px solid #000000; */
}
table td {
	border-left: 1px solid #000000;
	border-top: 1px solid #000000;
}

/* .print-content-cell table tr td{
	page-break-inside: avoid !important;
}

.print-content-cell table tr:last-child td{
	border-bottom: none !important;
}
.print-content-cell table tbody tr:first-child td{
	border-top: none !important;
} */

thead {
	display: table-header-group;
}

tfoot {
	display: table-footer-group;
}

.head-td{
	height: 0px !important;
	padding: 0 !important;
	border-left: none !important;
	border-right: none !important;
	border-bottom: none !important;
	/* border-top: 1px solid blue; */
}
.foot-td{
	height: 0px !important;
	padding: 0 !important;
	border-left: none !important;
	border-right: none !important;
	border-bottom: none !important;
	/* border-top: 1px solid blue; */
}
.print-container {
	border: none !important;
	page-break-after: always;
	min-height: 100%;
}
#PrintContentArea {
	padding: 0 !important;
	border: none !important;
}


.print-header {
	display: table-header-group;
}
.print-header .print-header-cell{
	padding: 0;
	border: none !important;
}

.print-footer {
	display: table-footer-group;
}

.print-footer .print-footer-cell{
	padding: 0;
	border: none !important;
}

header {
	background-color: white;
	position: fixed;
	top: 0;
}

footer {
	background-color: white;
	position: fixed;
	bottom: 0;
}

.PAGE_H_F{
	position: absolute;
	z-index: 80;
	margin: 0;
	padding: 0;
	top: 0;
}

.PAGE_H_F .content{
	position:relative;
}


.PAGE_H_F .content .PAGE_H{
	position:absolute;
}
.PAGE_H_F .content .PAGE_F{
	position:absolute;
}
.PAGE_H *{
	margin: 0 !important;
	padding-top: 5px !important;
	padding-bottom: 5px !important;
}