//外框
.fw-box{
    width: 100%;
}
//编辑器
.editor-container {
    background: #fafafa;
    background-color: #fafafa;
    // padding: 62px 0 64px;
    width: 100%;
    margin: 0 auto;
    .savebtn{
        position:fixed;
        top: 60px;
        right: 120px;
        z-index: 99;
    }
    .editor-content {
        margin: 0 auto;
        background: #fff;
        min-height: 800px;
    }
  }
  :deep(.data-table-reader .data-table){
    // border-top: 1px solid #000000;
    // border-left: 1px solid #000000;
 }
  :deep(.data-table-reader .data-table tr td){
    border: 1px solid rgb(4 4 4);
    // border-top: none;
    // border-left: none;
 }
  :deep(.data-table tr){
    // height: unset;
 }
  :deep(.data-table tr td){
    // min-height: 35px;
 }
//   :deep(.data-table thead tr){
//     height: unset;
//  }
//   :deep(.data-table tfoot tr){
//     height: unset;
//  }
.print-mask{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    z-index: 9999;
    background-color: #00000073;
    height: 100%;
    transition: none;
    pointer-events: auto; 
}
//打印
 @media print {
    .savebtn{
        display: none;
    }
 }
 //浏览器打印
 .print-content-cell table tr td{
	page-break-inside: avoid !important;
}
.print-content-cell table tr:last-child td{
	border-bottom: none !important;
}
.print-content-cell table tbody tr:first-child td{
	border-top: none !important;
}
thead {
	display: table-header-group;
}
tfoot {
	display: table-footer-group;
}
.head-td{
	height: 0px !important;
	padding: 0 !important;
	border-left: none !important;
	border-right: none !important;
	border-bottom: none !important;
	/* border-top: 1px solid blue; */
}